:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --res-name-kor-color: #070707;
  --res-name-eng-color: #6c6c6c;
  --res-description-color: #909090;

  /* size */
  --padding: 16px;
  --logo-size: 36px;
  --res-logo-size: 30px;
  --location-img-size: 50px;

  /* font size */
  --font-title: 48px;
  --font-large: 36px;
  --font-medium: 20px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.body__ {
  width: 70%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}

header .header__logo {
  flex: 1;
}

header .header__logo span {
  font-size: var(--font-title);
  font-weight: 700;
}

.header__locations {
  flex: 1;
}

.location {
  display: flex;
  width: 100%;
  list-style: none;
}

.location li img {
  width: var(--location-img-size);
  cursor: pointer;
}

.location li {
  padding: 5px;
  margin: 0px 5px;
}

.location li:hover {
  background-color: #97e6ff;
  border-radius: 10px;
  transform: scale(1.1);
}

.header__menu {
  /* width: 100%; */
  flex: 1;
  text-align: right;
}
.header__menu i {
  font-size: var(--font-large);
  cursor: pointer;
}

.categories {
  background-color: white;
  position: sticky;
  top: 0;
}

.restaurants {
  margin-top: 5px;
}

.restaurant {
  display: flex;
  margin-bottom: 10px;

  justify-content: space-between;
  cursor: pointer;
}

/* .restaurant:hover {
  background-color: #97e6ff;
  border-radius: 20px;
} */

.res_logo img {
  width: 150px;
  border-radius: 10px;
}

.res_information {
  width: 100%;
}

.res_information span {
  display: block;
}

.name_kor {
  font-size: var(--font-large);
  font-weight: 700;
}

.name_eng {
  font-size: var(--font-large);
  font-weight: 700;
}

.res_distance {
  padding: calc(var(--padding) / 2);
}

.description {
  font-size: var(--font-medium);
}

.distance {
  background-color: #1985c1;
  color: #fff;
  font-size: var(--font-medium);
  padding: 6px;
  border-radius: 4px;
}

footer {
  text-align: center;
}

@media all and (max-width: 900px) {
  :root {
    /* size */
    --padding: 8px;
    --logo-size: 36px;
    --res-logo-size: 30px;
    --location-img-size: 20px;

    /* font size */
    --font-title: 24px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
  }

  .body__ {
    width: 100%;
  }

  .location li {
    padding: 2px;
    margin: 2px;
  }

  .header__menu i {
    font-size: var(--font-title);
    cursor: pointer;
  }
  .res_logo img {
    width: 100px;
    border-radius: 10px;
  }

  .description {
    font-size: var(--font-small);
  }
}
