:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --res-name-kor-color: #070707;
  --res-name-eng-color: #6c6c6c;
  --res-description-color: #909090;

  /* size */
  --padding: 8px;
  --logo-size: 36px;
  --res-logo-size: 30px;

  /* font size */
  --font-title: 24px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

@font-face {
  src: url("img/font/seoul\ cbl.ttf");
  font-family: "seoul";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "seoul";
}

header {
  background-color: #1985c1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}

header .title {
  color: #e3f2fd;
}

header .title .title_name {
  font-size: var(--font-large);
}

header .title .title_ad {
  font-size: var(--font-medium);
}

header .menu i {
  font-size: var(--font-title);
  cursor: pointer;
  color: #97e6ff;
}

.advertising .banners {
  height: 100px;
  background-color: cadetblue;
  display: none;
}

.categories {
  background-color: #60b4f4;
  position: sticky;
  top: 0;
}

.categories .location {
  display: flex;
  list-style: none;
  justify-content: center;
}

.categories .location li img {
  width: 30px;
  cursor: pointer;
}

.categories .location li {
  padding: 5px;
}
.categories .location li:hover {
  background-color: #97e6ff;
  border-radius: 10px;
  transform: scale(1.1);
}

.category_img {
  display: flex;
  justify-content: center;
  list-style: none;
  overflow-x: scroll;
}

.category_img li {
  cursor: pointer;
  padding: 5px;
}
.category_img li:hover {
  background-color: #1985c1;
  color: white;
  border-radius: 15px;
  transform: scale(1.1);
}

.category_img li img {
  width: 50px;
  border-radius: 50%;
}

.category_img li span {
  display: block;
  text-align: center;
}

.restaurants {
  margin-top: 5px;
}

.restaurant {
  display: flex;
  /* margin-bottom: 10px; */
  padding: 5px;
  justify-content: space-between;
  cursor: pointer;
}
.restaurant:hover {
  background-color: #97e6ff;
  border-radius: 20px;
}

.res_logo img {
  width: 90px;
  border-radius: 10px;
}

.res_information {
  width: 100%;
}
.res_information span {
  display: block;
  padding: 3px;
}

.name_eng {
  font-size: 18px;
}

.name_kor {
  font-size: 16px;
}

.distance {
  background-color: #1985c1;
  color: #fff;
  font-size: var(--font-micro);
  padding: 4px;
  border-radius: 3px;
}

footer {
  text-align: center;
}
